body{
    background-color: silver;
    color: white;

}

/* 

        Navigation setup 

*/

.navbar {
    height: 7.5vh;
}

.nav-left {
    padding: 0;
    margin: 0;

}

.navbar-brand img{
    height: 40px;

}

.navsearch {
    background: url(https://i.postimg.cc/fbCCKsCR/945px-Vector-search-icon-svg.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-color: #E9ECEF;
    padding-left:30px;  
    vertical-align: middle;
    width: 200px ; 
    transition: width 300ms ease-in-out 300ms;
}

.navsearch:focus {
    background-color: #E9ECEF;
    width: 300px;

}

/* 
****************************************************************
                        Section one
****************************************************************
*/

.sectionOne .carousel-inner{
    height: 72vh;
}

.overSlideShow {
    position: absolute;
    top: 40%;
    left: 17%;
    z-index: 1;
    line-height: 1;
}

.secOneSlogan1 {
    color: #E84B93;
    letter-spacing:.2rem;
    font-weight: bold;
}

.secOneSlogan2 {
    color: white;
    font-size: 70px;
    font-weight: bold;
}

/* setting up search area */
.searchingForBar {
    position: relative;
    top: 6vh;
    background-color: #ffffff;
    border-radius: 25px;
    height: 5vh;
    width: 54vw;
    border: 5px #ffffff solid;

}


.topicSearch input{
    height: 100%;
    width: 300px;
    

}

.searchingFor {
    margin-left: 20px;
}

.searchbox {
    outline: 0;
    border: none;
    box-shadow: none;
}

.searchbox:focus {
    outline: 0;
    border: none;
    box-shadow: none;
}

/* 
****************************************************************
                        Section two
****************************************************************
*/


.sectionTwo {
    background-color: #F8F9FA;
    padding-bottom: 10vh;
    padding-top: 10vh;

}

.sectionTwo img {
    height: 60px;
    margin-bottom: 2vh;
}

.text-pink {
    color: #E83E8C;
}


.sectionTwo .container .secTwoSlogan {
    font-size: 20px;
    font-weight: bold;
    letter-spacing:.1rem;
}

.sectionTwo .container .secTwoSlogan2 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 7vh;
}

/* 
****************************************************************
                        Section Three
****************************************************************
*/

.sectionThree {
    height: 79vh;
    /* background-color: #F8F9FA; */
}

.secThreeSolgan1 {
    padding-top: 10vh;
    font-size: medium;
    font-weight: bold;
    letter-spacing:.2rem;
}

.secThreeSolgan2 {
    color: black;
    font-weight: bold;
    font-size: xx-large;
    padding-bottom: 5vh;
    line-height: 2vh;
}

.allGuideLink {
    font-size: medium;
}

.allGuideLink:hover {
    text-decoration: underline;

}


.imgTiles {
    margin-top:4vh;
}


.tile {
    background-image: url(/imgs/NY.cms);
    background-repeat: no-repeat;
    background-size: 120%;
    background-size:cover;
    height: 38vh;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}

.tileText {
    margin:10px;
    position: absolute;
    bottom: 0px;
}

.sectionThree .container .imgTiles .tile {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.sectionThree .container .imgTiles .tile:hover{
    top: -3px;
}



/* 
****************************************************************
                        Section Four
****************************************************************
*/

.sectionFour {
    height: 120vh;
    background-color: #F8F9FA;
}

.secFourSolgan1 {
    padding-top: 10vh;
    font-size: medium;
    font-weight: bold;
    letter-spacing:.2rem;
}

.secFourSolgan2 {
    color: black;
    font-weight: bold;
    font-size: xx-large;
    padding-bottom: 5vh;
    line-height: 2vh;
    
}


/* attempt at carousel */

.nj-container {
    position: relative;
    padding:20px;
}

.nj-carousel {
    padding: 20px 0px 20px 0px;
    display:flex;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.nj-carousel::-webkit-scrollbar {
    display:none;
}

/* style for grab? */
.nj-items.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }


.nj-card {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    margin-right: 40px;
    height:325px;
    width:300px;
    flex: 0 0 auto;
    background-color: white;
    border-radius:5px;
}

.nj-card:hover{
    top: -5px;
}



.nj-card-img {
    position: relative;
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.nj-card-bg {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 100%;
}

.nj-card-img span {
    position: absolute;
    bottom: 20%;
    left:30%;
}
 
.nj-fav{
    position: absolute;
    top: 10%;
    right:10%;
    height: 30px;
    width: 30px;
    opacity:50%;
}

.nj-fav:hover {
    opacity: 100%;
}

.nj-user-icon {
    position: absolute;
    bottom: 15%;
    left:10%;
    height:40px;
    width:40px;
    border: 3px solid white;
    border-radius: 50%;
}

.nj-card-info {
    padding:20px 20px 0px 20px;
    line-height:10px;
}

.nj-card-title{
    font-weight: bold;
    font-size: 17px;
    color:black;
}

.nj-card-rating-container{
    display:flex;
    justify-content: space-between;
}

.nj-card-price {
    color: blue;
    font-size: 24px;
    font-weight: bold;
}

.nj-per-night {
    font-size: 18px;
}


.grey-text {
    color: #8E959B;
}







/* 
****************************************************************
                        Section Five
****************************************************************
*/


.sectionFive {
    height: 60vh;
    background-color: #F8F9FA;


}
.sectionFiveContainer {
    position: relative;
    height: 60vh;
    overflow: hidden;
}
.sectionFiveContainer img {
    position: absolute;
    width: 100%;
    height: auto;
    bottom:-90%;
}

.sectionFiveTest {
    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 64px;   
    font-family:'Courier New', Courier, monospace;
}

.sectionFiveButton {
    position:relative;
    top: 70%;
    left:15%;
    background-color:white;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
}


/* 
****************************************************************
                        Section Six
****************************************************************
*/

.testimonials {
    height: 80vh;
    background-color:rgb(70, 70, 70);
    padding-top:10vh;
}

.testimonialsHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonialsTop {
    font-size: 16px;
    font-weight: bold;
    letter-spacing:3px;
}

.testimonialsHeading p {
    color: black;
    font-size: 34px;
    font-weight: bold;
}


.testimonialCarousel {
    position: relative;
    height: 50vh;
    width: 90vw;
    background-color:rgb(78, 78, 78);
    padding: 8vh 0px 0px 30vh;
    display:flex;
    scroll-behavior: smooth;
    overflow-x: hidden;

}


.testimonialCard {
    position: relative;
    height: 350px;
    width: 600px;
    margin-left: 100px;
    border-radius: 15px;
    box-shadow: 0 0 25px 3px #EDEDED ;
    color: black;
    flex: 0 0 auto;

}


.testimonialPicture {
    position:absolute;
    height:80px;
    border: 5px solid rgb(160, 160, 160);
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(167, 167, 167);
    top: 35%;
    left: -6%;
}

.testimonialContain {
    display:flex;
    flex-direction: column;
    padding: 10vh 3vw 0px 4vw;

}

.testimonialQuotation {

}

.testimonialText {
   color: grey;
}

.testimonialName {
    font-size: 18px;
    font-weight: bold;
}

/* 
****************************************************************
                        Section Seven
****************************************************************
*/

.articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.articleContainer {
    color: black;
    height: 625px;
    width: 475px;
    border-radius: 7px;
    margin-right: 30px;
    background-color: rgb(243, 243, 243) ;
    position: relative;
    top:0px;
    transition: top 0.2s ease-in-out;

}

.articleContainer:hover {
    top: -10px;
    transition: top 0.2s ease-in-out;
}

.articleImage {
    height: 50%;
    width: 100%;
    border-top-left-radius:7px;
    border-top-right-radius: 7px;

}

.articleText {
    padding: 10px;
}


/* 
****************************************************************
                        Section Eight
****************************************************************
*/

.sectionEight {
    margin-top: 10vh;
    width: 100%;
}

.sectionEightContainer {
    display: flex;
    flex-direction: row;
    overflow:hidden; 
    height: 100px;
    width: 100%;
}

.sectionEightImages {
    display:block;
    height: 100%;
    width: 7vw;
    min-width: 7vw;
    overflow: hidden;
}

.sectionEightImages img {
    height: 100%;
    width: 100%;
}


.sectionEightImages img:hover{
    transform: scale(1.2);  
}




/* 
****************************************************************
                        Footer
****************************************************************
*/
footer {
    margin-left:15vw;
    margin-top: 10vh;
}

footer span {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .2rem;
    color: #343A40;
    margin-bottom:10px;
}

footer p {
    font-size:18px;
    color: #93757D;
}

footer a {
    text-decoration: none;
    color: #93757D;
}

footer a:hover {
    color:#93757D;
    text-decoration:underline;
}


.footer-grid {
    display: grid;
    grid-template-columns:400px 200px 200px 500px ;
    /* outline-offset: none; */
}

.footer-col-1 {
    display: flex;
    flex-direction:column;
}

.footer-col-2 {
    display: flex;
    flex-direction:column;
}

.footer-col-3 {
    display: flex;
    flex-direction:column;
}

.footer-col-4 {
    display: flex;
    flex-direction:column;
}

.footerSearch{
    height: 40px;
    width: 500px;
}


.footerSearchOutline {
    outline: 5px solid rgba(255, 0, 0, 0.5);
    border-radius: 10px;
}


.footerSearchbar {
    float: left;
    width: 90%;
    height: 100%;
    border:1px solid black;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    padding-left: 10px;
}


.footerSearchbar:focus {
    outline:none;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
    border-right: none;

}

.footerSubmit {
    width: 10%;
    height: 100%;
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    float: left;
    background-color:white;
    border-left: none;
    cursor: pointer;
}

.footerSubmit:hover {
    background-color:red;
    transition: background-color .25s ease-in-out;
}

.footerSubmit img {
    height: 70%;
}
