body{
    background-color: silver;
    color: white;

}

/* 

        Navigation setup 

*/

.navbar {
    height: 7.5vh;
}

.nav-left {
    padding: 0;
    margin: 0;

}

.navbar-brand img{
    height: 40px;

}

.navsearch {
    background: url(https://i.postimg.cc/fbCCKsCR/945px-Vector-search-icon-svg.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-color: #E9ECEF;
    padding-left:30px;  
    vertical-align: middle;
    width: 200px ; 
    transition: width 300ms ease-in-out 300ms;
}

.navsearch:focus {
    background-color: #E9ECEF;
    width: 300px;

}

/* 
****************************************************************
                        Section one
****************************************************************
*/

.sectionOne .carousel-inner{
    height: 72vh;
}

.overSlideShow {
    position: absolute;
    top: 40%;
    left: 17%;
    z-index: 1;
    line-height: 1;
}

.slogan1 {
    color: #E84B93;
}

.slogan2 {
    color: white;
    font-size: 70px;
    font-weight: bold;
}

/* setting up search area */
.searchingForBar {
    position: relative;
    top: 6vh;
    background-color: #ffffff;
    border-radius: 25px;
    height: 5vh;
    width: 54vw;
    border: 5px #ffffff solid;

}


.topicSearch input{
    height: 100%;
    width: 300px;
    

}

.searchingFor {
    margin-left: 20px;
}

.searchbox {
    outline: 0;
    border: none;
    box-shadow: none;
}

.searchbox:focus {
    outline: 0;
    border: none;
    box-shadow: none;
}

/* 
****************************************************************
                        Section two
****************************************************************
*/


.sectionTwo {
    background-color: lightgray;
    padding-bottom: 10vh;
    padding-top: 10vh;

}

.sectionTwo img {
    height: 60px;
    margin-bottom: 2vh;
}

.text-pink {
    color: #E83E8C;
}


.sectionTwo .container .secTwoSlogan {
    font-size: 20px;
    font-weight: bold;
}

.sectionTwo .container .secTwoSlogan2 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 7vh;
}

.imgTiles {
    margin-top:4vh;
}

.imgTiles img{
    height: 120%;
    width: 120%;
    border-radius: 10px;
}

.sectionThree .container .imgTiles .tile {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.sectionThree .container .imgTiles .tile:hover{
    top: -3px;
}


/* 
****************************************************************
                        Section Three
****************************************************************
*/

.sectionThree {
    height: 60vh;
    /* background-color: #F8F9FA; */
}


/* 
****************************************************************
                        Section Four
****************************************************************
*/

.sectionFour {
    height: 60vh;
    background-color: #b6b6b6;
}


/* 
****************************************************************
                        Section Five
****************************************************************
*/


.sectionFive {
    height: 60vh;
    background-color: #F8F9FA;
}
