body{
    background-color: silver;
    color: white;

}

.navbar {
    height: 7.5vh;
}

.nav-left {
    padding: 0;
    margin: 0;

}

.navbar-brand img{
    height: 40px;

}

.navsearch {
    background: url(https://i.postimg.cc/fbCCKsCR/945px-Vector-search-icon-svg.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-color: #E9ECEF;
    padding-left:30px;  
    vertical-align: middle;
    width: 200px ; 
    transition: width 300ms ease-in-out 300ms;
}

.navsearch:focus {
    background-color: #E9ECEF;
    width: 300px;

}

/* Setting up text and search over slideshow */

.sectionOne .carousel-inner{
    height: 72vh;
}

.overSlideShow {
    position: absolute;
    top: 40%;
    left: 17%;
    z-index: 1;
    line-height: 1;
}

.slogan1 {
    color: #E84B93;
}

.slogan2 {
    color: white;
    font-size: 70px;
    font-weight: bold;
}

/* setting up search area */
.searchingForBar {
    position: relative;
    top: 6vh;
    background-color: #ffffff;
    border-radius: 25px;
    height: 5vh;
    width: 54vw;
    border: 5px #ffffff solid;

}


.topicSearch input{
    height: 100%;
    width: 300px;
    

}

.searchingFor {
    margin-left: 20px;
}

.searchbox {
    outline: 0;
    border: none;
    box-shadow: none;
}

.searchbox:focus {
    outline: 0;
    border: none;
    box-shadow: none;
}











.sectionthree {
    height: 60vh;
    background-color: #F8F9FA;
}

.sectionfour {
    height: 60vh;
    background-color: #b6b6b6;
}



.sectionfive {
    height: 60vh;
    background-color: #F8F9FA;
}
