body{
    background-color: silver;
    color: white;

}

/* 

        Navigation setup 

*/

.navbar {
    height: 7.5vh;
}

.nav-left {
    padding: 0;
    margin: 0;

}

.navbar-brand img{
    height: 40px;

}

.navsearch {
    background: url(https://i.postimg.cc/fbCCKsCR/945px-Vector-search-icon-svg.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-color: #E9ECEF;
    padding-left:30px;  
    vertical-align: middle;
    width: 200px ; 
    transition: width 300ms ease-in-out 300ms;
}

.navsearch:focus {
    background-color: #E9ECEF;
    width: 300px;

}

/* 
****************************************************************
                        Section one
****************************************************************
*/

.sectionOne .carousel-inner{
    height: 72vh;
}

.overSlideShow {
    position: absolute;
    top: 40%;
    left: 17%;
    z-index: 1;
    line-height: 1;
}

.secOneSlogan1 {
    color: #E84B93;
    letter-spacing:.2rem;
    font-weight: bold;
}

.secOneSlogan2 {
    color: white;
    font-size: 70px;
    font-weight: bold;
}

/* setting up search area */
.searchingForBar {
    position: relative;
    top: 6vh;
    background-color: #ffffff;
    border-radius: 25px;
    height: 5vh;
    width: 54vw;
    border: 5px #ffffff solid;

}


.topicSearch input{
    height: 100%;
    width: 300px;
    

}

.searchingFor {
    margin-left: 20px;
}

.searchbox {
    outline: 0;
    border: none;
    box-shadow: none;
}

.searchbox:focus {
    outline: 0;
    border: none;
    box-shadow: none;
}

/* 
****************************************************************
                        Section two
****************************************************************
*/


.sectionTwo {
    background-color: #F8F9FA;
    padding-bottom: 10vh;
    padding-top: 10vh;

}

.sectionTwo img {
    height: 60px;
    margin-bottom: 2vh;
}

.text-pink {
    color: #E83E8C;
}


.sectionTwo .container .secTwoSlogan {
    font-size: 20px;
    font-weight: bold;
    letter-spacing:.1rem;
}

.sectionTwo .container .secTwoSlogan2 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 7vh;
}

/* 
****************************************************************
                        Section Three
****************************************************************
*/

.sectionThree {
    height: 79vh;
    /* background-color: #F8F9FA; */
}

.secThreeSolgan1 {
    padding-top: 10vh;
    font-size: medium;
    font-weight: bold;
    letter-spacing:.2rem;
}

.secThreeSolgan2 {
    color: black;
    font-weight: bold;
    font-size: xx-large;
    padding-bottom: 5vh;
    line-height: 2vh;
}

.allGuideLink {
    font-size: medium;
}

.allGuideLink:hover {
    text-decoration: underline;

}


.imgTiles {
    margin-top:4vh;
}


.tile {
    background-image: url(/imgs/NY.cms);
    background-repeat: no-repeat;
    background-size: 120%;
    background-size:cover;
    height: 38vh;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}

.tileText {
    margin:10px;
    position: absolute;
    bottom: 0px;
}

.sectionThree .container .imgTiles .tile {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.sectionThree .container .imgTiles .tile:hover{
    top: -3px;
}



/* 
****************************************************************
                        Section Four
****************************************************************
*/

.sectionFour {
    height: 120vh;
    background-color: #b6b6b6;
}

.secFourSolgan1 {
    padding-top: 10vh;
    font-size: medium;
    font-weight: bold;
    letter-spacing:.2rem;
}

.secFourSolgan2 {
    color: black;
    font-weight: bold;
    font-size: xx-large;
    padding-bottom: 5vh;
    line-height: 2vh;
    
}


/* attempt at carousel */

.nj-container {
    position: relative;
    background-color:black;
    padding:20px;
}

.nj-carousel {
    padding: 0 10vw;
    display:flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.nj-carouselItem{
    display:absolute;
    
    width:25%;
    background-color: silver;
}

.nj-card {
    margin-right: 40px;
    height:325px;
    width:300px;
    flex: 0 0 auto;
    background-color: red;
    border-radius:5px;
}





.nj-card-img {
    position: relative;
    width: 100%;
    height: 60%;
    overflow: hidden;
    
}

.nj-card-img img {
    height: 100%;
    width: 100%;
}

.nj-card-img span {
    position: absolute;
    bottom: 20%;
    left:30%;
}
 
.nj-card-img .nj-fav {
    height: 100px;
}








.nj-card-info {
    padding:20px 20px 0px 20px;
    line-height:10px;
}

.nj-card-title{
    font-weight: bold;
    font-size: 17px;
}

.nj-card-rating-container{
    display:flex;
    justify-content: space-between;
}

.nj-card-price {
    color: blue;
    font-size: 24px;
    font-weight: bold;
}

.grey-text {
    color: lightgrey;
}







/* 
****************************************************************
                        Section Five
****************************************************************
*/


.sectionFive {
    height: 60vh;
    background-color: #F8F9FA;
}
